/* http://colorpalettes.net/color-palette-2227/ */

/* Scaffolding */

* {
	box-sizing: border-box;
	margin-bottom: 4vh;
}

:root {
	background-color: #eaebeb;
	color: #095470;
	font-size: calc(1em + 1vmax);
	line-height: 1.5;
	font-family: 'Fira Sans', sans-serif;
}

body {
	padding: 4vmax;
	transition: padding 256ms linear;
}

@media (orientation: landscape) {
	body {
		padding-left: 16vmax;
		padding-right: 16vmax;
	}
}

/* Typography */

h1,
h2 {
	color: #054a4a;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.25em;
}

h1,
h2,
p {
	margin-top: 0;
}

a {
	color: #1aa2d9;
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
}

a:focus {
	outline: none;
	text-decoration: underline;
}

.secondary {
	font-size: .75rem;
}

span.secondary {
	display: inline-block;
	margin-bottom: 0;
}

/* Definition lists */

di {
	display: block; /* Add block layout to custom element */
}

dt,
dd {
	margin: 0;
}

dt {
	font-style: italic;
}

.definition-list {}

.definition-table {}

.definition-table di {
	display: flex;
	margin-bottom: 1vh;
	clear: both;
}

.definition-table dt,
.definition-table dd {
	flex: auto;
}

.definition-table dt {
	flex: 2; /* 40% or 17% */
	padding-right: 2em;
}

.definition-table dd {
	flex: 3; /* 60% */
}

[data-definition-term-width="narrow"] dd {
	flex: 10; /* 83% */
}

/* Accordion */

[aria-hidden] {
	max-height: 100vh;
	opacity: 1;
	transition: max-height 256ms linear, opacity 512ms linear;
}

[aria-hidden="true"] {
	margin: 0;
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	transition-timing-function: linear, opacity 512ms linear;
}
